@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.otf");
    }
body {margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: rgb(251 249 245);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: #905e01c5;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid rgb(251 249 245);  /* padding вокруг плашки */
}
body::-webkit-scrollbar-thumb:hover{
    border: 1px solid rgb(251 249 245);
}
body::-webkit-scrollbar-thumb:focus{
    border: 1px solid rgb(251 249 245);
}

.telo{
    height: 610px;
    width: 1000px;
    margin: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.signin1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
/*line-height: 27px;*/
color: #D58800;
}
.signin2{
    border: 1px solid #D5B472;
border-radius: 20px;
width: 450px;
height: 40px;
padding: 0.375rem 0.75rem;
}
.rasdelenie{
    /*display: flex;
    flex-direction: row;
  justify-content: space-around;*/
  
  width: 855px;
    display: grid;
    grid-template-columns: 300px 150px;
    justify-content: center;
    margin: 0 auto;
    
}
.otdelno{
    text-align: left;
}
.signin3{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 175, 0, 0.61);    
}
.signin3:hover {
    text-decoration: underline;
  }
.signin3_{
font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
   /* line-height: 27px;
     or 90% 
    
    display: flex;*/
    align-items: center;
    
    color: rgba(112, 77, 0, 0.56);
}
.signin4{
    width: 150px;
    background: rgba(212, 136, 0, 0.63);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    border: 1px solid #D5B472;
    border-radius: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.2));
}
.signin4:hover {
    background: rgba(129, 88, 18, 0.89);
    text-decoration: none;
}
.signin4:focus {
    outline: none;
    box-shadow: 0 0 0 4px #D5B472;
  }
.marg{
    margin-top: 35px;
}
.apple{
    width: 100px;
}
.appl{
    text-align: left;
}