@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.otf");
}
.body{
    margin:0;
    padding:0;
}
.header_top{
    width:100%;
    height:200px;
    background-color: white;
}
.header_container{
    width:1500px;
    height:100px;
    background-color: whitesmoke;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 40% 12% 12% 12% 12% 12%;
}
.logo_image{
    margin-left:30px;
    margin-top:15px;
}
.header_text{
    margin-top:40px;
    color:#E9AC3C;
    font-size:18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}
.header_account{
    width:140px;
    height:50px;
    display:grid;
    grid-template-columns:40% 60%;
    margin-top:25px;
    border-radius: 10px;
    border:2px;
    border: #DCCCA9 dashed 2px;
}
.header_account_image{
    margin-top:10px;
    margin-left:3px;
}
.header_account_text{
    margin-top:5px;
    color:#E9AC3C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size:18px;
}

.header_container_lower{
    width:1500px;
    height:100px;
    background-color: whitesmoke;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 64% 12% 12% 12%;

}
.text-field {
    margin-bottom: 1rem;
  }
.search{
    margin-top:35px;
    margin-left:300px;
    width:600px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #D5B472;
    border-radius: 20px;
}
textarea:focus, input:focus
{
  outline: none;
}
.search_button{
    width:120px;
    height: 40px;
    margin-top:35px;
    border-radius: 10px;
    width:125px;
    display:grid;
    grid-template-columns:40% 60%;
    border-radius: 10px;
    border:2px;
    border: #DCCCA9 dashed 2px;
}

.top_pocket{
    display:grid;
    grid-template-columns: 3fr 2fr;
    height:150px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #212529;*/
}
.bold_text{
    color:#905E01;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.usual_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px; 
    color: #905E01;
}
.main_content{
    width:800px;
    height: 1000px;
}
.line1{
    border: 1px solid #FEDE9F;
}
.div_zac{
    margin:20px;
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.prod_pic{
    width:250px;
    height:250px;
    background-color: black;
    border-radius: 10px;
}

.colich_nav{
    position: relative;
    display: inline-block;
}
/**/
.list1{
    box-sizing: border-box;
    width:100px;
    height: 70px;
    margin-left:20px;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    background-color: #FEDE9F;
    border:none;
    /**/


}
.list_let{
    color: #905E01;
}

.circle_full{
    width:70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FEDE9F;
    margin-top: 16px;
}
/*

Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Amet nulla odio ut curabitur.
Nibh aliquet id pharetra consequat auctor.

1 199,00 ₽   1 329,00 ₽

*/
.etap{
    display:grid;
    grid-template-columns: 45px 3fr 45px 3fr 45px;
    margin-top: 50px;
    margin-left: 50px;
    width:500px;
}
.hr-dashed-bg {
	margin: 20px 0px 50px 00px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px dashed rgba(166, 166, 166, 1);
    width: 180px;

    position: absolute;
}
.sircle_active{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
}
.sircle_unactive{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(166, 166, 166, 1);
    
}
.active_let{
    margin-left:15px;
    top:5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    position:relative;
}
.un_active_let{
    margin-left:15px;
    top:5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    position:relative;
    color: #A6A6A6;
}
.mini_text_div{
    display:grid;
    grid-template-columns: 180px 250px 170px;
    margin-left: 50px;
    width:500px;
}
.mini_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
}
.mini_text1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #A6A6A6;
}
.cost{
    margin-left:200px;
}
.big_but{
    width:650px;
    height:150px;
    display: grid;
    grid-template-columns: 4fr 10fr;
    background: rgba(255, 212, 127, 0.72);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-top:25px;
}