.main_tov{
    width:250px;
    height:400px;
    background-color: whitesmoke;
    border-radius:10px;
    display:grid;
    grid-template-rows: 10fr 1fr 3fr 1fr 2fr;
}
.prod_pic{
    width:200px;
    height:200px;
    background-color: black;
    margin-left:25px;
    top:20px;
    position:relative;
    border-radius: 10px;
}
.prod_text_div{
    width:200px;
    margin-left: 25px;
}
.prod_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color:#000000;
}
.prod_desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color:#A6A6A6;
}
.cost_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}
.tov_icon{
    margin-left:20px;
}
