@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.otf");
}
.top_pocket{
    display:grid;
    grid-template-columns: 3fr 2fr;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #212529;*/
}
.bold_text{
    color:#905E01;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.usual_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px; 
    color: #905E01;
}
.main_content{
    width:800px;
    height: 1000px;
}
.line1{
    border: 1px solid #FEDE9F;
}
.div_zac{
    margin:20px;
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.prod_pic{
    width:250px;
    height:250px;
    background-color: black;
    border-radius: 10px;
}

.colich_nav{
    position: relative;
    display: inline-block;
}
/**/
.list1{
    box-sizing: border-box;
    width:100px;
    height: 70px;
    margin-left:20px;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    background-color: #FEDE9F;
    border:none;
    text-align: center;
    display:grid;
    grid-template-columns: 2fr 1fr;
    /**/
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	background-color: #905E01;
}

.arr_div{
    display:grid;
    grid-template-rows: 2fr 2fr;
}
.but_arr{
    border: 2px solid #905E01;
    background-color: #FEDE9F;
    margin-right:10px;
    top:10px;
    border-radius: 5px;
    height: 25px;
    margin-top:5px
}


.width1{
    width: 490px;
    display: flex;
    justify-content: space-evenly;
    }
    .statys1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 50px;
    }
    .statys2{
    width: 137px;
    height: 0px;
    border-top: 1px solid #000000;
    margin-top: 22px;
    }
    .statys1_{
    color: #A6A6A6;
    
    border: 1px solid #A6A6A6;
    }
    .statys2_{
    border: 1px dashed #ffffff;
    border-top: #A6A6A6;
    background: #A6A6A6;
    }
    .width2{
    width: 516px;
    display: flex;
    justify-content: space-between;
    }
    .text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    
    /*display: flex;
    align-items: center;*/
    
    
    }
    .text_{
    color: #A6A6A6;
    }

    .mani{
        margin:30px;
    }
/*




*/


.list_let{
    color: #905E01;
}

.circle_full{
    width:70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FEDE9F;
    margin-top:px;
}
/*

Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Amet nulla odio ut curabitur.
Nibh aliquet id pharetra consequat auctor.

1 199,00 ₽   1 329,00 ₽

*/
.etap{
    display:grid;
    grid-template-columns: 45px 3fr 45px 3fr 45px;
    margin-top: 50px;
    margin-left: 50px;
    width:500px;
}
.hr-dashed-bg {
	margin: 20px 0px 50px 00px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px dashed rgba(166, 166, 166, 1);
    width: 180px;

    position: absolute;
}
.sircle_active{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
}
.sircle_unactive{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(166, 166, 166, 1);
    
}
.active_let{
    margin-left:15px;
    top:5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    position:relative;
}
.un_active_let{
    margin-left:15px;
    top:5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    position:relative;
    color: #A6A6A6;
}
.mini_text_div{
    display:grid;
    grid-template-columns: 180px 250px 170px;
    margin-left: 50px;
    width:500px;
}
.mini_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
}
.mini_text1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #A6A6A6;
}
.cost{
    margin-left:200px;
}
/*.big_but{
    width:650px;
    height:150px;
    display: grid;
    grid-template-columns: 2fr 12fr;
    background: rgba(255, 212, 127, 0.72);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-top:25px;
    border:none;
}*/

.big_but {
    width: 650px;
    height: 150px;
    display: grid;
    grid-template-columns: 2fr 12fr;
    background: rgba(255, 212, 127, 0.72);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-top: 50px;
    border: none;
    align-content: center;
    align-items: center;
}

.but_text{
    width: 0;
    height: 0;
    background: rgba(0,0,0,0);
    box-shadow: 0 0 0;
    margin-top: 0;
    padding: 0;
    border: 0;
}

.big_but_2{
    width:650px;
    height:150px;
    display: grid;
    grid-template-columns: 2fr 12fr;
    background: rgba(255, 212, 127, 0.72);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-top:25px;
    border:none;
    color:#905E01;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}