@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.otf");
    }
body {margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: rgb(251 249 245);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: #905e01c5;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid rgb(251 249 245);  /* padding вокруг плашки */
}
body::-webkit-scrollbar-thumb:hover{
    border: 1px solid rgb(251 249 245);
}
body::-webkit-scrollbar-thumb:focus{
    border: 1px solid rgb(251 249 245);
}

.telo{
    margin: 50px 0;
    
}
.polozenie1{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.width1{
    width: 490px;
    display: flex;
    justify-content: space-evenly;
}
.width2{
    width: 490px;
    display: flex;
    justify-content: space-between;
}
.statys1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 50px;
}
.statys2{
    width: 137px;
    height: 0px;    
    border: 1px solid #000000;
    background: #000000;
    margin-top: 22px;
}
.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    
    /*display: flex;
    align-items: center;*/
    
    color: #000000;
}
.polozenie2{
display: flex;
    
    justify-content: center;
}
.kryg{
    width: 580px;
height: 580px;

background: #DDFDD5;
border-radius: 500px;

display: flex;
    align-items: center;
    justify-content: center;
}